* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-image: url(/Teacher/create_examroom/bg3.jpg);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(231, 119, 119);
  cursor: pointer;
  box-shadow: rgb(19, 9, 29);
}

/*********************** header **********************/
header {
  background-color: #0e2431;
  /* border: 2px solid blue; */
  /* font-size: 3px; */
  color: rgb(249, 255, 255);
  padding-block: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  /* border: 2px solid black; */
}

header li {
  list-style: none;
  /* float: left;   */
  font-size: 2.5rem;
  display: inline-block;
  margin-inline: 3rem;
}
#home {
  font-size: 3.5rem;
  color: rgb(7, 156, 119);
}
/**************************section*************************/
/***************************1st form**********************/

#first-part {
  /* display: none; */
}

#first-table {
  /* border: 1px solid black; */
  /* position: center; */
  width: 100%;
  font-size: 3rem;
  padding-top: 3rem;
  padding-left: 10rem;
  /* text-align: center; */
  color: #060706;
}
#first-table td {
  padding-inline: 1rem;
  padding-block: 2rem;
  /* border: 1px solid black; */
}
#label-course-name {
  padding-right: 7rem;
}
#label-exam-date {
  padding-right: 6rem;
}
label {
  padding: 0rem 0rem 0rem 5rem;
  padding-inline-end: 5rem;
}
input {
  display: inline-block;
  padding: 6px 10px;
}
#time_error {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 0rem;
  margin-right: 5rem;
  color: red;
  display: none;
}
/*********************************2nd form*******************************/
#second-form {
  display: none;
  padding-bottom: 10rem;
  /* border: 2px solid black; */
}
#second-table {
  /* border: 2px solid black; */
  width: 100%;
  /* padding:5rem 0rem 10rem 30rem;   */
  text-align: center;
}
#second-table td {
  padding-block: 2rem;
  /* border: 2px solid blue; */
  /* padding-left: 40rem; */
}
#second-table td textarea {
  background-color: rgb(255, 249, 249);
  /* width: 100%; */
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: both;
}
::placeholder {
  color: #180202;
  font-size: 1rem;
}
#second-table td input {
  margin-inline: 1rem;
  background-color: rgb(113, 185, 170);
  color: #0c0000;
  border-radius: 0.4rem;
  /* border: 2px solid red; */
}
#second-table .option {
  background-color: #f8f8f8;
}
#hide {
  visibility: hidden;
}

/*****************li*************************/
ul {
  list-style-type: none;
  padding: 0;
}
ul li {
  padding: 2rem;
  background: #f6f6f6;
  font-size: 1.5rem;
  color: #555;
  position: relative;
  border-bottom: 1px solid #e6e6e6;
  /* height: 46px; */
}

ul li:nth-child(even) {
  padding: 20px;
  background: #f2f2f2;
}

ul li span {
  display: block;
  margin-block: 1rem;
}

ul li span:nth-child(1) {
  font-size: 2rem;
}
ul li span:nth-child(2) {
  margin-top: 6px;
}

ul li span:nth-child(6) {
  font-size: 16px;
  margin-top: 6px;
  color: #999;
}

ul li div {
  position: absolute;
  top: 0;
  right: 0px;
  background: rgba(255, 255, 255, 0.6);
  width: 40px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}

/***************************third-form****************************/
#third-form {
  display: none;
}
/********************************button*************************/
.button {
  border: none;
  outline: none;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #081b0a;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 100;
  font-family: monospace;
}
.button:hover {
  cursor: pointer;
  color: #2db661;
  box-shadow: 0 10px 36px rgba(63, 27, 131, 0.15);
}
#next-button {
  float: right;
  margin-right: 45rem;
  background-color: #0797da;
}
#next-button:hover {
  color: #081b0a;
}
#add-button {
  float: right;
  margin-right: 25rem;
  background-color: #2db661;
}
#add-button:hover {
  color: #081b0a;
}
#confirm {
  /* margin-top: 8rem; */
  margin-left: 45%;
}

/*********************redirection*******************/

#redirection {
  display: none;
  margin-top: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #2db661;
}
#redirection p {
  margin-top: 5rem;
}
.room_id {
  text-align: center;
  font-size: 2rem;
  color: cornflowerblue;
  margin-top: 1rem;
}
#minimum_question {
  display: none;
  text-align: center;
  font-size: 2rem;
  color: chocolate;
}
