* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 62.5%; */
  /* background-image: url(/Teacher/create_examroom/bg3.jpg); */
  background-color: rgb(34, 37, 49);
}
main {
  /* background-image: url(/Teacher/home_page/bg1.jpg); */
  /* background-image: url(/Student/home_page/pexels-johannes-plenio-2080960.jpg); */
  background-size: cover;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(238, 118, 88);
  cursor: pointer;
  box-shadow: rgb(19, 9, 29);
}

/******************* header ******************/
header {
  /* border: 2px solid blue; */

  /* background-color: #2b6659; */
  color: rgb(255, 255, 255);
  padding: 1rem;
}

li {
  list-style: none;
  /* float: left;   */
  font-size: 2rem;
  display: inline-block;
  margin-inline: 2rem;
}
#home {
  font-size: 4rem;
  color: rgb(25, 136, 108);
}
#userID {
  color: rgb(0, 0, 0);
  background-color: rgb(122, 255, 188);
  padding: 0.7rem;
  border-radius: 0.2rem;
}
#userID:hover {
  background-color: rgb(255, 255, 255);
}
/*************************article**********************/

#first_row {
  color: #f2f3f4;
}
#welcome {
  color: #2ecc71;
  margin-top: 8rem;
  text-align: center;
}

div {
  font-size: 3.5rem;
  text-align: center;
}
.lower {
  margin-top: 0rem;
  /* padding-bottom: 1rem; */
}
.lower p {
  font-size: 2.5rem;
  color: aliceblue;
  /* margin-block: 2rem; */
}
.lower a {
  color: #00ffaa;
}
.lower a:hover {
  color: rgb(180, 224, 180);
  box-shadow: chartreuse;
}

tr p {
  display: inline;
  font-size: 3rem;
}
#contact {
  width: 50%;
}
table {
  text-align: center;
  width: 100%;
  font-size: 3.5rem;
  border-collapse: collapse;
}
table a {
  background-color: rgb(8, 197, 134);
  border-radius: 0.5rem;
  padding: 2rem;
  color: #000000;
}
table a:hover {
  /* color: rgb(22, 85, 69); */
  color: #0f0f09;
  background-color: azure;
}
article {
  /* padding-top: 7rem; */
  /* padding-bottom: 11.5rem; */
  margin-top: 7rem;
  margin-bottom: 8rem;
}
th {
  width: 100%;
}
td {
  width: 50%;
  padding: 4rem;
}
td div {
  margin-block: 3rem;
}

/*****************************lost**********************/
#lost {
  font-size: 3rem;
  text-align: center;
  /* border: 1px solid black; */
  margin-top: 10rem;
  display: none;
}
#lost_msg {
  margin-bottom: 3rem;
}
#lost_button:hover
{
  color: aliceblue;
  background-color:ghostwhite;
}