* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 62.5%; */
  background-color: rgb(34, 37, 49);
}
main {
  /* background-image: url(/pexels-vlada-karpovich-4050287.jpg); */
  /* background-image: url(/Student/home_page/pexels-johannes-plenio-2080960.jpg); */
  /* background-size: cover; */
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(165, 77, 77);
  cursor: pointer;
  box-shadow: rgb(19, 9, 29);
}
/******************* header ******************/
header {
  /* background-color: cyan; */
  /* border: 2px solid blue; */

  color: rgb(253, 253, 253);
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
}

li {
  list-style: none;
  /* float: left;   */
  font-size: 2rem;
  display: inline-block;
  margin-inline: 3rem;
}
#home {
  font-size: 4rem;
  color: #25a178;
}
/***************************section***************************/
section {
  /* display: none; */
}
section #text {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(35, 161, 113);
  margin-top: 8rem;
}
section input {
  width: 40%;
  border: 2px solid rgb(61, 100, 61);
  padding: 1rem;
  display: block;
  margin: 4rem auto;
}
#success {
  display: none;
}
#fail {
  display: none;
}
div p {
  color: rgb(255, 137, 137);
  /* border: 1px solid black; */
  font-size: 2.5rem;
  text-align: center;
  margin-top: 15rem;
  /* padding-left: 5rem; */
}
/**************************button***************************/
.button {
  border: none;
  outline: none;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #69756a;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 100;
  font-family: monospace;
}
.button:hover {
  cursor: pointer;
  color: #2db661;
  box-shadow: 0 10px 36px rgba(170, 31, 31, 0.15);
}
#join {
  display: block;
  margin: 0 auto;
  padding: 1rem 3rem;
  background-color: rgb(1, 148, 116);
}
#join:hover {
  color: rgb(0, 0, 0);
  box-shadow: cornflowerblue;
}
/*****************************lost**********************/
#lost {
  font-size: 3rem;
  text-align: center;
  /* border: 1px solid black; */
  margin-top: 10rem;
  display: none;
}
#lost_msg {
  margin-bottom: 3rem;
}
#lost_button:hover
{
  color: aliceblue;
  background-color:ghostwhite;
}