* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 79%; */
  /* height: 100%; */
}
html {
  /* background-image: url(/bg9.jpg); */
  background-color: #00171f;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: lightcoral;
}
/******************* header ******************/
header {
  /* position: sticky; */
  background-color: #0e1f29;
  /* border: 2px solid blue; */
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
}
.logo {
  color: rgb(39, 168, 136);
  font-size: 3rem;
}

li {
  list-style: none;
  /* float: left;   */
  display: inline-block;
  margin-inline: 4rem;
}

/******************* section ******************/

section {
  display: inline-block;
  text-align: center;
  /* padding-top: 10rem; */
  /* padding-bottom: 7.5rem; */
  margin-top: 10rem;
  margin-bottom: 5.5rem;
  width: 100%;
  /* height: auto; */
}
h1 {
  font-size: 3rem;
  margin-top: 1rem;
  color: rgb(70, 153, 180);
}
.button {
  border: none;
  outline: none;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #ffffff;
  color: #10181d;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: 100;
  font-family: monospace;
}
.button:hover {
  cursor: pointer;
  box-shadow: 0 10px 36px rgba(63, 27, 131, 0.15);
  background-color: rgb(20, 238, 155);
}

div {
  color: rgb(252, 250, 250);
  font-size: 3rem;
  width: 100%;
}

.login {
  margin-top: 2rem;
}
.login label {
  margin-right: 4.5rem;
}
#pass {
  padding-bottom: 2rem;
}
input {
  text-align: center;
  padding: 8px 13px;
  border: none;
  width: 20%;
}
#password {
  margin-left: 0.5rem;
}
aside {
  /* margin-top: 1rem;    */
  text-align: center;
  padding-top: 2rem;
}
.p1 {
  font-size: 1.5rem;
  display: inline-block;
  margin-inline: 1rem;
  color: rgb(252, 252, 252);
  padding-top: 1rem;
}
#create_acc {
  color: rgb(0, 253, 148);
}
.person {
  font-size: 1.5rem;
  color: rgb(48, 84, 150);
}

.login_error {
  display: none;
  padding-top: 1rem;
  font-size: 2rem;
  color: rgb(243, 96, 108);
}

.login_error a {
  color: rgb(243, 96, 108) k;
}

/***********************login With google*************/
/* #loginWithGoogle
{
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background-color:lightseagreen;
  /* hello; */

/* #loginWithGoogle:hover
{
  box-shadow: 0 10px 36px rgba(63, 27, 131, 0.15);
  background-color: rgb(20, 238, 155);
}  */

/************* footer **************/

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: rgb(255, 255, 255);
  /* background-color: #3b454b; */
  /* bottom: 5; */
  position: absolute;
  width: 100%;
}
footer p {
  margin-block: 1rem;
}
