* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: lightcoral;
}
html {
  /* background-image: url(./pexels-johannes-plenio-1103970.jpg); */
  background-position: center;
  /* background-color: #20354d; */
  background-color: #ffffff;
}

/******************* header ******************/
header {
  background-color: #0e2330;
  /* border: 2px solid blue; */
  font-size: 3rem;
  color: rgb(255, 255, 255);
  padding: 1rem 0 1rem 0;
}

li {
  list-style: none;
  /* float: left;   */
  display: inline-block;
  margin-inline: 3rem;
}

/******************* section ******************/
section {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  padding: 4rem 0rem 2rem 0rem;
}
table {
  /* text-align: left;
    text-align:center; 
    margin: 0 auto; */
  /* border-spacing: 10rem 3rem; */
  font-size: 2rem;
  /* padding: 1em 1em; */
  /* height: max-content 100rem;
    width: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
}
td {
  padding: 1rem 8rem;
}
div {
  text-align: center;
}
input {
  text-align: center;
  border: 2px solid green;
  padding: 12px;
  /* padding:  auto;
    max-block-size: inherit;
    max-width: inherit; */

  border-radius: 0.5rem;
  /* border-style:inherit; */
}
#button {
  border: none;
  outline: none;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #081b0a;
  color: #ffffff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: 100;
  font-family: monospace;
}
#button:hover {
  cursor: pointer;
  color: #52d37d;
  box-shadow: 0 10px 36px rgba(63, 27, 131, 0.15);
}
.radio_btn {
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}
.radio_btn:hover {
  cursor: pointer;
  /* font-size: 22px; */
}
.person div {
  display: inline;
  margin-inline: 2rem;
  color: rgb(0, 0, 0);
}
.password_mismatch {
  display: none;
}
.password_mismatch {
  color: rgb(18, 86, 150);
}

.password_mismatch a {
  color: rgb(241, 107, 134);
}
.create_acc_input {
  /* border: 1px solid black; */
  padding-bottom: 2rem;
}
#prevs
{
  /* display: none; */
}
#msg
{
  text-align: center;
  font-size: 2rem;
}
/************* footer **************/

footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
  background-color: #0e2330;
  /* bottom: 0; */
  position: absolute;
  width: 100%;
  /* margin-top: 0.5rem; */
}
footer p {
  margin-block: 1rem;
  /* padding-right: 1rem; */
}
