* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 62.5%; */
  background-color: rgb(34, 37, 49);
}
main {
  /* background-image: url(/pexels-vlada-karpovich-4050287.jpg); */
  /* background-image: ;
    background-size: cover; */
  /* background-color: lightgray; */
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: rgb(209, 255, 241);
  cursor: pointer;
  box-shadow: rgb(19, 9, 29);
}

/*********************** header **********************/
header {
  /* background-color: cyan; */
  /* border: 2px solid blue; */

  color: rgb(252, 252, 252);
  padding-block: 1.5rem;
  padding-bottom: 5rem;
  /* border: 2px solid black; */
}

header li {
  list-style: none;
  /* float: left;   */
  font-size: 2.5rem;
  display: inline-block;
  margin-inline: 3rem;
}
#home {
  font-size: 4rem;
  color: rgb(45, 185, 138);
}
/******************************section*****************************/
#noroom {
  display: none;
  font-size: 3rem;
  text-align: center;
  color: chocolate;
  margin-top: 15rem;
}
.container {
  /* display: none; */
}

.container::-webkit-scrollbar {
  display: none;
}

/**********************display**********************/
.room {
  border: 2px solid black;
  background: white;
  padding: 10px 20px;
  border-radius: 35px;
  margin: 20px auto;
  /* font-size: 1.2em; */
  font-size: 1.5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}
.room h2 {
  margin-bottom: 0;
}
.room p {
  margin-top: 4px;
}
.room li {
  display: inline-block;
  margin-inline: 4rem;
  /* border: 1px solid blue; */
  min-inline-size: 18rem;
  max-inline-size: 20rem;
}
/***************************** renderResult***********************/
.renderResult {
  font-size: 2rem;
  /* border: 1px solid black; */
  /* margin: 0rem 2rem; */
}
.renderResult p {
  display: inline-flex;
  min-width: 35rem;
}
#firstDiv {
  border: 2px solid rgb(255, 255, 255);
}
.renderResult div {
  margin-block: 0.5rem;
  margin-right: 3rem;
  margin-left: 3rem;
  color: azure;
}
#details {
  float: right;
  margin-right: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  margin-top: 0rem;
  padding: 0.55rem 0.25rem;
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  font-weight: 100;
  font-family: monospace;
}
/***********************detailedResult**********************/
.render_result {
  margin: 2rem 5rem 2rem 5rem;
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-bottom: 3rem;
  border: 2px solid black;
  border-radius: 1.2rem;
  padding: 0.5rem;
}
.render_result p {
  margin-inline: 2rem;
  max-width: 40vw;
  min-width: 40vw;
  display: inline-flex;
}
/*************************************message**********************/
.message {
  padding: 5rem;
  display: none;
  text-align: center;
  font-size: 3rem;
  color: rgb(245, 201, 147);
}
.message #message1 {
  padding-bottom: 5rem;
}
#go_back {
  background-color: #2db661;
}

/**************************button***************************/
.button {
  border: none;
  outline: none;
  font-size: 2rem;
  margin-top: 1rem;
  background-color: #27a072;
  color: #000000;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-family: monospace;
}
.button:hover {
  cursor: pointer;
  color: #ffffff;
  box-shadow: 0 10px 36px rgba(63, 27, 131, 0.15);
}
#lost {
  font-size: 3rem;
  text-align: center;
  /* border: 1px solid black; */
  margin-top: 10rem;
  display: none;
}
#lost_msg {
  margin-bottom: 3rem;
}
#lost_button:hover
{
  color: aliceblue;
  background-color:ghostwhite;
}